<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://localhost:3000/css/navbar.css">
  </head>
  <header>
    <ul>
        <li><a href="http://localhost:3000/">Home</a></li>  
        <li><a href="http://localhost:3000/shop">Shop</a></li>
        <li><a href="http://localhost:3000/buy">Buy</a></li>
        <li><a href="http://localhost:3000/admin">admin</a></li>
        <li class="login"><a href="http://localhost:3000/auth/signin">Connexion</a></li>
        <li class="login"><a href="http://localhost:3000/auth/signup">Inscription</a></li>
      </ul>
  </header>
</html>